

.tableData {
    background-color: #fff;
}

.logoutBtn{
    float: right;
    margin-bottom: 35px;
}

.filerDiv .filterField{
    margin-top: 5px;
    width: 100%;
}

table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

.paginationDiv{
    margin-top:10px
}